# Segmenting and Clustering Neighborhoods in Toronto(Project-1 )

# Part-1

In [1]:
#importing required libraries
import pandas as pd
import numpy as np
import folium
import geopy
print('libraries imported')

libraries imported

### Scraping data from wikipedia

In [2]:
#gathering data from table on wikipedia
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dfs=pd.read_html(url,header=0)
for df in dfs:
    print(df)

    Postcode           Borough  \
0        M1A      Not assigned
1        M2A      Not assigned
2        M3A        North York
3        M4A        North York
4        M5A  Downtown Toronto
5        M5A  Downtown Toronto
6        M6A        North York
7        M6A        North York
8        M7A      Queen's Park
9        M8A      Not assigned
10       M9A         Etobicoke
11       M1B       Scarborough
12       M1B       Scarborough
13       M2B      Not assigned
14       M3B        North York
15       M4B         East York
16       M4B         East York
17       M5B  Downtown Toronto
18       M5B  Downtown Toronto
19       M6B        North York
20       M7B      Not assigned
21       M8B      Not assigned
22       M9B         Etobicoke
23       M9B         Etobicoke
24       M9B         Etobicoke
25       M9B         Etobicoke
26       M9B         Etobicoke
27       M1C       Scarborough
28       M1C       Scarborough
29       M1C       Scarborough
..       ...               ...
258      M9X      Not assigned
259      M1Y      Not assigned
260      M2Y      Not assigned
261      M3Y      Not assigned
262      M4Y  Downtown Toronto
263      M5Y      Not assigned
264      M6Y      Not assigned
265      M7Y      East Toronto
266      M8Y         Etobicoke
267      M8Y         Etobicoke
268      M8Y         Etobicoke
269      M8Y         Etobicoke
270      M8Y         Etobicoke
271      M8Y         Etobicoke
272      M8Y         Etobicoke
273      M8Y         Etobicoke
274      M9Y      Not assigned
275      M1Z      Not assigned
276      M2Z      Not assigned
277      M3Z      Not assigned
278      M4Z      Not assigned
279      M5Z      Not assigned
280      M6Z      Not assigned
281      M7Z      Not assigned
282      M8Z         Etobicoke
283      M8Z         Etobicoke
284      M8Z         Etobicoke
285      M8Z         Etobicoke
286      M8Z         Etobicoke
287      M9Z      Not assigned

                                         Neighbourhood
0                                         Not assigned
1                                         Not assigned
2                                            Parkwoods
3                                     Victoria Village
4                                         Harbourfront
5                                          Regent Park
6                                     Lawrence Heights
7                                       Lawrence Manor
8                                         Not assigned
9                                         Not assigned
10                                    Islington Avenue
11                                               Rouge
12                                             Malvern
13                                        Not assigned
14                                     Don Mills North
15                                    Woodbine Gardens
16                                       Parkview Hill
17                                             Ryerson
18                                     Garden District
19                                           Glencairn
20                                        Not assigned
21                                        Not assigned
22                                          Cloverdale
23                                           Islington
24                                        Martin Grove
25                                    Princess Gardens
26                                     West Deane Park
27                                      Highland Creek
28                                          Rouge Hill
29                                          Port Union
..                                                 ...
258                                       Not assigned
259                                       Not assigned
260                                       Not assigned
261                                       Not assigned
262                               Church and Wellesley
263                                       Not assigned
264                                       Not assigned
265  Business Reply Mail Processing Centre 969 Eastern
266                                         Humber Bay
267                                   King's Mill Park
268                           Kingsway Park South East
269                                          Mimico NE
270                                     Old Mill South
271                                 The Queensway East
272                              Royal York South East
273                                           Sunnylea
274                                       Not assigned
275                                       Not assigned
276                                       Not assigned
277                                       Not assigned
278                                       Not assigned
279                                       Not assigned
280                                       Not assigned
281                                       Not assigned
282                           Kingsway Park South West
283                                          Mimico NW
284                                 The Queensway West
285                              Royal York South West
286                                     South of Bloor
287                                       Not assigned

[288 rows x 3 columns]
                                          Unnamed: 0 Canadian postal codes  \
0  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...                    NL
1                                                 NL                    NS
2                                                  A                     B
3                                                 NL                    NS
4                                                  A                     B

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0         NS         PE         NB         QC         ON         MB
1         PE         NB         QC         ON         MB         SK
2          C          E          G          H          J          K
3         PE         NB         QC         ON         MB         SK
4          C          E          G          H          J          K

  Unnamed: 8 Unnamed: 9     ...     Unnamed: 21 Unnamed: 22 Unnamed: 23  \
0         SK         AB     ...               L           M           N
1         AB         BC     ...             NaN         NaN         NaN
2          L          M     ...             NaN         NaN         NaN
3         AB         BC     ...             NaN         NaN         NaN
4          L          M     ...             NaN         NaN         NaN

  Unnamed: 24 Unnamed: 25 Unnamed: 26 Unnamed: 27 Unnamed: 28 Unnamed: 29  \
0           P           R           S           T           V           X
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

  Unnamed: 30
0           Y
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 31 columns]
  NL NS PE NB QC ON MB SK AB BC NU/NT YT Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0  A  B  C  E  G  H  J  K  L  M     N  P           R           S           T

  Unnamed: 15 Unnamed: 16 Unnamed: 17
0           V           X           Y

In [3]:
df=dfs[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Cleaning the data fetched

In [4]:
#renaming columns
df.columns=['PostalCode','Borough','Neighborhood']
df.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [5]:
#handling rows with not assigned borough
df=df[df.Borough != 'Not assigned'].reset_index(drop=True)
df.head()

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights

In [6]:
#combining postal code with multiple neighborhood
df_grouped=df.groupby(['PostalCode','Borough'],as_index=False).agg(lambda x: ','.join(x))
df_grouped.head()

  PostalCode      Borough                          Neighborhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

In [7]:
#handling rows with not assigned neighborhood with assigned borough
na_neigh_rows = df_grouped.Neighborhood == 'Not assigned'
df_grouped.loc[na_neigh_rows, 'Neighborhood'] = df_grouped.loc[na_neigh_rows, 'Borough']
df_grouped[na_neigh_rows]

   PostalCode       Borough  Neighborhood
85        M7A  Queen's Park  Queen's Park

In [8]:
df_grouped.head()

  PostalCode      Borough                          Neighborhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

In [9]:
df_grouped.shape

(103, 3)

# Part-2

In [10]:
%matplotlib inline
import geocoder
import requests
from pandas.io.json import json_normalize
import matplotlib as mpl
import matplotlib.pyplot as plt
import folium
print('Libraries imported')

Libraries imported

### Getting Latitude and Longitude of the neighborhoods

In [11]:
#downloading dataset from link provided in the course
!wget -O 'toronto_coordinates.csv' https://cocl.us/Geospatial_data
print('Coordinates downloaded!')
coors = pd.read_csv('toronto_coordinates.csv')

--2019-10-16 22:55:38--  https://cocl.us/Geospatial_data
Resolving cocl.us (cocl.us)... 161.202.50.39
Connecting to cocl.us (cocl.us)|161.202.50.39|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-10-16 22:55:41--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 103.116.4.197
Connecting to ibm.box.com (ibm.box.com)|103.116.4.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-10-16 22:55:42--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-10-16 22:55:42--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 103.116.4.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|103.116.4.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!pl184Qzhp7edb1mzL302gSPy7hOJQrK7NcbGli9RFgdqWjVWfFYMEHS7pZv98_Nu-h-w3OrrqpVCIxZeBFvj3U0Wh9j5yUnBnPcSg4dY9YfGe7anoQ-PeTDxuRp4eq_m4JjzXiYGc4dbzJvEm7lFhigZojd74ZGf20aAP5aEf1joEQg47C_H_pqmDZvfFOjIBt_Rx36OfksceJci65WsCIdXWD-FT3t5ZTKvTe2K5OPyIiyKjrXFG_ZtygcU0SdcIMJfgBq0uRbG4_OEVp07Iitosd61k5bFebzLt_AH8ZHIQLNjI3xMAXEJyOd8ixtwXUfkNi0kjJBmYjOcj_OffLRjydus66QfjRMtccI2tnI8VOgpv7636SGo7cXO56CR3Sx-EItxlSeYZ4xd6-PbMlvsYLOGFvBDUCO03wi-iyZN2bsQZifOgMaEkhpbKoyKK8sQzbFKHPgBv_02hFICSFgaW8RsTIWvMxn_gIMmCn8qHg7Upp_5vxoDdSTSNVzlA-sM21TNkxV5-taUu7bIpVI-7-EXEtRyIBmDs7XpCewJOiTkpWMKLaA_DnVUlnDVgcclpJYDlxDIv_p2I1QolPucjb8XflCm8vNv8U-k8OZVveS6WTJRy-Of9W0MMAkR8Z4J0Thhqfnplu_GMEwwQDknGIhegHk7vt_wIy8FemyJoM_0fLlEYfNJ_WsYx1bOZ7X5jacyUvnBSDP3CHDROEfGKETgIbI4WClK26jPLjJQtY7D1Hfppmljcfz0kJbxJ8u1nJOUGNYu-kP_foqNILIf9BzcRqECree_2jlU5fET-ozQJ6qnGJrznwex1wixKEa31SqE-PKjPcEcQdxzTb1LJ-vO8xNEmjmTmRfVZ8aIpYES0P_jqlB9VLwXvMSlE83W8U8qU0hz_dKo_4n3IXLIf7UL-eLz4FLIsdj7QZDYxQPT9YgDH1Tdy6t8CputDO37m33_pLii8IdTAge2kA5Sc0Cw5XwmZjnVxpPrzjZ9G7hmpW128mMddGjNANgpMvzvswtNAP-ahJUHxllmHjNO6Na6o9v2P3FFGVi1awKMT_t3SwhZoMkOVQTL8HZEWikRiojBCeS22qTKIlPbA9lFom97oBe3m8aOWN3zoj-NiLhNku1Qkk4rrIHk0w__gZVTzO83k-RiIyQgs_gIQOE-32Qx9-sK4W-gVE4alHjSjQ4MRQa43edL1jPOQxkyKJJdhplCfM9SoNz1jNWnJ0_1FGx-rwKPXH08tAtSHbH_PPik7520hKPA-IHjR5sAVrSFTsqKiUEc3smNDnCuBFKxNzJJHZXFRWb6AZT2IyMmN70SwDOJIFXrb4XGDbV5pr2Q1qX4mxaltPqE3VkiWwb4HrJLaUEGzf1w_SLM2BcLNSZovRDLZ4ndHO7y/download [following]
--2019-10-16 22:55:44--  https://public.boxcloud.com/d/1/b1!pl184Qzhp7edb1mzL302gSPy7hOJQrK7NcbGli9RFgdqWjVWfFYMEHS7pZv98_Nu-h-w3OrrqpVCIxZeBFvj3U0Wh9j5yUnBnPcSg4dY9YfGe7anoQ-PeTDxuRp4eq_m4JjzXiYGc4dbzJvEm7lFhigZojd74ZGf20aAP5aEf1joEQg47C_H_pqmDZvfFOjIBt_Rx36OfksceJci65WsCIdXWD-FT3t5ZTKvTe2K5OPyIiyKjrXFG_ZtygcU0SdcIMJfgBq0uRbG4_OEVp07Iitosd61k5bFebzLt_AH8ZHIQLNjI3xMAXEJyOd8ixtwXUfkNi0kjJBmYjOcj_OffLRjydus66QfjRMtccI2tnI8VOgpv7636SGo7cXO56CR3Sx-EItxlSeYZ4xd6-PbMlvsYLOGFvBDUCO03wi-iyZN2bsQZifOgMaEkhpbKoyKK8sQzbFKHPgBv_02hFICSFgaW8RsTIWvMxn_gIMmCn8qHg7Upp_5vxoDdSTSNVzlA-sM21TNkxV5-taUu7bIpVI-7-EXEtRyIBmDs7XpCewJOiTkpWMKLaA_DnVUlnDVgcclpJYDlxDIv_p2I1QolPucjb8XflCm8vNv8U-k8OZVveS6WTJRy-Of9W0MMAkR8Z4J0Thhqfnplu_GMEwwQDknGIhegHk7vt_wIy8FemyJoM_0fLlEYfNJ_WsYx1bOZ7X5jacyUvnBSDP3CHDROEfGKETgIbI4WClK26jPLjJQtY7D1Hfppmljcfz0kJbxJ8u1nJOUGNYu-kP_foqNILIf9BzcRqECree_2jlU5fET-ozQJ6qnGJrznwex1wixKEa31SqE-PKjPcEcQdxzTb1LJ-vO8xNEmjmTmRfVZ8aIpYES0P_jqlB9VLwXvMSlE83W8U8qU0hz_dKo_4n3IXLIf7UL-eLz4FLIsdj7QZDYxQPT9YgDH1Tdy6t8CputDO37m33_pLii8IdTAge2kA5Sc0Cw5XwmZjnVxpPrzjZ9G7hmpW128mMddGjNANgpMvzvswtNAP-ahJUHxllmHjNO6Na6o9v2P3FFGVi1awKMT_t3SwhZoMkOVQTL8HZEWikRiojBCeS22qTKIlPbA9lFom97oBe3m8aOWN3zoj-NiLhNku1Qkk4rrIHk0w__gZVTzO83k-RiIyQgs_gIQOE-32Qx9-sK4W-gVE4alHjSjQ4MRQa43edL1jPOQxkyKJJdhplCfM9SoNz1jNWnJ0_1FGx-rwKPXH08tAtSHbH_PPik7520hKPA-IHjR5sAVrSFTsqKiUEc3smNDnCuBFKxNzJJHZXFRWb6AZT2IyMmN70SwDOJIFXrb4XGDbV5pr2Q1qX4mxaltPqE3VkiWwb4HrJLaUEGzf1w_SLM2BcLNSZovRDLZ4ndHO7y/download
Resolving public.boxcloud.com (public.boxcloud.com)... 103.116.4.200
Connecting to public.boxcloud.com (public.boxcloud.com)|103.116.4.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘toronto_coordinates.csv’

toronto_coordinates 100%[===================>]   2.82K  --.-KB/s    in 0s

2019-10-16 22:55:45 (157 MB/s) - ‘toronto_coordinates.csv’ saved [2891/2891]

Coordinates downloaded!

In [12]:
coors.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [13]:
#renaming column names
coors.columns=['PostalCode','Latitude','Longitude']
coors.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [14]:
#merging two dataframes into one dataframe
toronto_df_cord=pd.merge(df_grouped,coors,on='PostalCode')
toronto_df_cord.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

# Part-3